<% include ./partials/header.ejs %>
<style>
    .row{
        margin-top: 5%;
    }
.card{
    float: left;
    margin: 1%;
}
.card-title{
    font-size: 1em;
}
</style>
<div class="row">
    <div class = col-lg-3>

    </div>
    <div class="col-lg-9">
            <% services.forEach((service)=>{ %>
                <div class="card" style="width: 30%;">
                    <% function pick(arr){var index = Math.floor(Math.random()*arr.length);%>
                      <%  return arr[index]; %>
                       <% }%>
                       <% const imgArr = ["/img/product1.jpg", "/img/product2.jfif", "/img/product3.jpg"] %>
                        <img class="card-img-top" src=<%=pick(imgArr)%> alt="">
                        <div class="card-body">
                          <h5 class="card-title"><%=service.title%></h5>
                          <span class="card-subtitle mb-2 text-muted">Category: <%=service.category%></span>
                          <% var trimmedString =service.description.substr(0, 60) %>
                          <% trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))) %>
                         <p class="card-text"><%=trimmedString%></p>
                         <a href="/services/<%=service._id%>/" class="card-link">Read more</a>
                         
                        </div>
                      </div>
                      <%  }) %>
    </div>

</div>

<% include ./partials/footer.ejs %>