<% include ./partials/dash_header.ejs %>
<div class="container" style="max-width:80%;">                         
                            <table class="table">
                              <thead class="thead-light">
                                <tr>
                                    <th scope="col">CLIENT</th>
                                  <th scope="col">SERVICE</th>
                                  <th scope="col">ORDERED</th>
                                  <th scope="col">DELIVERY</th>
                                  <th scope="col">PAY STATUS</th>
                                  <th scope="col">PROJECT STATUS</th>


                                </tr>
                                </thead>
                                        <tbody>
                                            <% user.orders.forEach((order)=>{ %>
                                                <tr>
                                                    <td><%=order.buyer%></td>
                                                    <td><%=order.title%></td>
                                                    <td><%=order.createdAt%></td>
                                                    <td><%=order.deliveryTime%> days</td>
                                                    <td><%=order.status%></td>
                                                    <td><%=order.projectStatus%></td>
                                                    
                                                    
                                                </tr>
                                          <%  }) %>
                                        </tbody>
                                      </table>
                                        
       </div>                     

 <% include ./partials/dash_footer.ejs %>

