<% include ./partials/header.ejs %>
<style>
img{
    max-width: 100%;
}
.jumbotron{
    background-color: #fff;
}
</style>
<div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container"></div>
            <h1><%=service.title%></h1>
            <% if (user && service.createdBy == user._id){ %>
                <a class="btn btn-secondary" href="/user/<%=user._id%>/services/<%=service._id%>/edit">Edit</a>
            <% } %>
        </div>
   
    <img src="/img/service.jpg" alt="">
    <h3>Description</h3>
    <p><%=service.description%></p>
    
    <h3>Category</h3>
    <p><%=service.category%></p>

    <h3>Price</h3>
    <p><%=service.deliveryTime%> days</p>

    <h3>Delivery Time</h3>
    <p><%=service.price%> <%=service.currency%></p>
    
    <h3>Revision Count</h3>
    <p><%=service.revisionCount%></p>


<% if (user && service.createdBy == user._id){ %>
    <a class="btn btn-danger" href="/user/<%=user._id%>/services/<%=service._id%>/delete">Delete Service</a>
<% } else { %>
    <button class="btn btn-success" data-toggle="modal" data-target="#payModal">Purchase Service</button>
<% } %>
</div>


      
      <!-- Modal -->
      <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="payModalTitle">Confirm Payment Intention</h5>
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <p>Purchase Service: <%=service.title%></p>
                    <p>Seller: <%=service.seller%></p>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-secondary" data-dismiss="modal">No, that was a mistake</button>
              <form action="/services/<%=service._id%>/pay" method="POST">
                <script src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="<%=STRIPE_PUBLISH_KEY%>"
                        data-amount="<%=service.price%>"
                        data-name="<%=service.title%>"
                        data-description="<%=service.description%>"
                        data-locale="auto"
                        data-currency="<%=service.currency%>">
                    
                </script>
                <input type="hidden" name="chargeAmt" value="<%=service.amount%>">
                </form>
            </div>
          </div>
        </div>
      </div>

<% include ./partials/footer.ejs %>