<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IXXO Marketplace</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
        
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">Marketplace</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                          <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Browse 
                          </span>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Business</a>
                            <a class="dropdown-item" href="#">Content & Copywriting</a>
                            <a class="dropdown-item" href="#">Design & Graphics</a>
                            <a class="dropdown-item" href="#">Developing & Tech</a>
                            <a class="dropdown-item" href="#">Ecommerce & CMS</a>
                            <a class="dropdown-item" href="#">Internet Marketing</a>
                            <a class="dropdown-item" href="#">Video & Audio </a>
                            
                        </div>
                        </li>
                        <form class="form-inline my-2 my-lg-0">
                            <input id="navSearch" class="form-control mr-sm-2" type="search" placeholder="Search for a service" aria-label="Search">
                          </form>
                      </ul>
                      <ul class="nav justify-content-end">
                    <%if (!user){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/register">Sign Up</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/user/login">Login</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link btn btn-warning" href="/services/new">Become a seller</a>
                                </li>
                   <% } else{%>
                    <li class="nav-item">
                            <a style="font-weight:bold;" class="nav-link" href="/user/<%=user._id%>/profile"><%=user.firstName[0].toUpperCase()%><%=user.lastName[0].toUpperCase()%></a>
                        </li>
                            <div id="mySidenav" class="sidenav">
                                    
                                    <span class="lead">Hello <%=user.username%> <span style="cursor:pointer;" class="closebtn" onclick="closeNav()">&times;</span></span>
                                   
                                   <ul class="list-group">
                                       <li class="list-group-item">
                                           <a class="nav-link" href="/user/<%=user._id%>/profile">My Dashboard</a>
                                        </li>
                                        <div class="dropdown-divider"></div>
                                    <li class="list-group-item dropdown">
                                            <span class="nav-link dropdown-toggle" id="buyingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             Buying
                                            </span>
                                            <div class="dropdown-menu" aria-labelledby="buyingDropdown">
                                              <a class="dropdown-item" href="#">My Orders</a>
                                              <a class="dropdown-item" href="#">My Projects</a>
                                              <a class="dropdown-item" href="#">My Favorites</a>
                                          </div>
                                          </li>
                                          <div class="dropdown-divider"></div>
                                        </li>
                                        <li class="list-group-item dropdown">
                                                <span class="nav-link dropdown-toggle" id="sellingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                 Selling
                                                </span>
                                                <div class="dropdown-menu" aria-labelledby="sellingDropdown">
                                                  <a class="dropdown-item" href="/services/new">Add Service</a>
                                                  <a class="dropdown-item" href="#">My Orders</a>
                                                  <a class="dropdown-item" href="/user/<%=user._id%>/services/myservices">My Services</a>
                                                  <a class="dropdown-item" href="#">My Projects</a>
                                                  <a class="dropdown-item" href="#">My Earnings</a>
                                                  <a class="dropdown-item" href="#">Get Endorsed</a>
                                              </div>
                                              </li>
                                              <div class="dropdown-divider"></div>
                                              <li class="list-group-item">
                                                <a class="nav-link" href="">Inbox</a>
                                              </li>
                                              <li class="list-group-item">
                                                    <a class="nav-link" href="">Balance</a>
                                                  </li>
                                                  <li class="list-group-item">
                                                        <a class="nav-link" href="">Invite Friends</a>
                                                      </li>
                                                      <li class="list-group-item">
                                                         <a class="nav-link" href="/user/logout">Logout</a>
                                                    </li>
                                    </ul>

                                  </div>
                                  
                                  <!-- Use any element to open the sidenav -->
                                  <span id="ham" onclick="openNav()">
                                        <div class="bar1"></div>
                                        <div class="bar2"></div>
                                        <div class="bar3"></div>
                                </span>
                                  
                                  </div>
                 <%  } %>
                        </ul>
                    </div>
                  </nav>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>